<template>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar_list">
                <ul>
                    <li @click="show_component('home')">Home <homes></homes></li>
                    <li @click="show_component('calendar')">Calendar <calendar></calendar></li>
                    <li @click="show_component('patients')">Patients <users></users> </li>
                    <li @click="show_component('register')">Register Form <user></user> </li>
                    <li @click="show_component('reports')">Reports <file></file> </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <keep-alive>
                <home v-if="current_step === 'home'"></home>
                <calendars v-if="current_step === 'calendar'"></calendars>
                <patients v-if="current_step === 'patients'"></patients>
                <register-form v-if="current_step === 'register'"></register-form>
                <reports v-if="current_step === 'reports'"></reports>
            </keep-alive>
        </div>
    </div>
</template>
<script>
import format from 'date-fns/format';
import { HomeIcon,CalendarIcon,UserPlusIcon,FileTextIcon,UsersIcon } from 'vue-feather-icons'
import Home from '@/pages/home/home.vue';
import Calendar from '@/pages/calendar/calendar.vue';
import Patients from '@/pages/patients/patients.vue';
import RegisterForm from '@/pages/register/register.vue';
import Reports from '@/pages/reports/reports.vue';
export default{
    components:{
        Homes: HomeIcon,
        Calendar: CalendarIcon,
        User: UserPlusIcon,
        Calendar:CalendarIcon,
        File: FileTextIcon,
        Users:UsersIcon,
        Home,
        Calendars:Calendar,
        Patients,
        RegisterForm,
        Reports,
    },
    mounted(){
        this.generate_days();
    },
    data:()=>{
        return{
            start_date: new Date('2017-01-01'),
            end_date: new Date('2020-01-01'),
            dates:[],
        }
    },
    computed:{
        current_step(){
            return this.$store.state.currentStep;
        }
    },
    methods:{
        show_component(key){
            this.$store.commit('change_step',key);
        },
        generate_days(){
            let current_date = new Date(this.start_date);
            while(current_date <= this.end_date){
                this.dates.push(format(new Date(current_date),'ddd, Mm YYYY'));
                current_date.setDate(current_date.getDate()+1);
            }
        },
    }
}
</script>
<style lang="scss"> 
    .wrapper{
        position:relative;
        height:100%;
        display:grid;
        grid-template-columns:239px 1fr;
        background-color:whitesmoke;
        .sidebar{
                background-color: #33697b;
                display: -webkit-box;
                isplay: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                height: 62%;
                justify-content:center;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                margin: auto;
                border-radius: 0px 20px 20px 0px;
            .sidebar_list{
                ul{
                    padding:0;
                    margin:0;
                    display:flex;
                    flex-direction:column;
                    list-style:none;
                    li{
                        display:flex;
                        justify-content:space-between;
                        color:white;
                        padding:20px;
                    }
                    li:hover{
                        cursor:pointer;
                        background-color:whitesmoke;
                        color:#33697b;
                        transform:scale(1.002);
                    }
                }
            }
            span{
                font-size:1.3em;
                color:white;
            }
        }
    }
</style>