// Main
//
// Define your global styling here
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import '~css_vars';
html,body,#app{
	height:100% !important;
  font-family: 'Oswald', sans-serif !important;
  font-weight:300;
  letter-spacing: 1px;
}

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}


button {
  -webkit-appearance: button;
  background-color: white;
  cursor: pointer;
  min-width: 100px;
  outline: none;
  border: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 3px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  opacity: .1;
}

textarea {
  resize: none;
  min-height: 80px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 10px 20px;
  // box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.05);
  border: solid 1px whitesmoke;
}

.is-danger {
  color: red;
}

.help {
  margin: 4px 0px;
  font-size: .8rem;
  letter-spacing: 0;
}

.grid-form .req-dot:after {
  content: '*';
  color: red;
  margin-left: 5px;
}

.is-blue {
  color: $blue;
  svg {
    stroke: $blue;
  }
}

.noscroll {
  overflow: hidden;
}

.loader {
  svg {
    animation: rotate linear 3s infinite;
  }
}

.small-loader {
  svg {
    animation: rotate linear 3s infinite;
    width: 10px;
    height: 10px;
    margin: 0px;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@import "~css_vars";
@import "~mixins";

.no-scroll>div:first-child {
  max-height: 100vh;
  overflow: hidden;
  filter: blur(30px);
}

.inside_content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-wrap: wrap;
}


.tab-content .loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  align-items: center;
}

select {
  height: 38px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
  margin-bottom: 20px;
  position: relative;
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1rem;
  }
}

.form-control {
  border: 1px solid $grey;
  background-color: white;
  font-size: 15px;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 1.42857143;
  width: 100%;
  &:focus {
    border: 1px solid $grey_sh1;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
  }
}

.input-group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  .form-control {
    /* border-top-right-radius: 0px;
      border-right: none;
      border-bottom-right-radius: 0px; */
    background-color: transparent;
    z-index: 5;
    &:focus {
      // border-right: none;
      &+.input-group-addon {
        border-color: $grey_sh1;
      }
    }
  }
  .input-group-addon {
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    border: solid 1px $grey;
    border-left: none;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    svg {
      width: 1rem;
      color: $grey_sh1;
    }
  }
}
