<template>
  <div class="wrapper">
    <layout></layout>
  </div>
</template>

<script>
import layout from '@/pages/layout/layout.vue';
export default {
  components:{
    layout,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
