// Variables
//
// Define custom variables here

$green: #61D095;
$blue: #19a7f3;
$black: #070707;
$lightgrey: #bfbfbf;
$grey: #ddd;
$grey_sh1: #9A9A9A;
$red: #FE4A49;
$yellow: #FED766;
$sun: #FDB833;
$sandy: #FC9F5B;
$sidebar: #33697b;